@import "tailwindcss";
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #222222;
}
.dark {
  --bg-color: hsl(37, 4%, 36%); /* Dark mode background */
  --text-color: #eeeeee; /* Dark mode text */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.ant-btn {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}
.ant-btn:hover,
.ant-btn:focus {
  background-color: #f0eaea !important; /* amber-400 */
  border-color: #ffffff !important; /* amber-600 */
  color: #d97706 !important; /* amber-600 */
}
ant-form {
  border-color: aliceblue !important; /* Light border for forms */
}
.ant-input {
  background: #fff !important; /* White background */
  padding: 0.75rem 0.75rem !important; /* Spacious padding */
  font-size: 1rem !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.ant-input:hover,
ant-input:focus {
  border-color: #f0eaea !important; /* amber-400 */
}
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #615656 !important; /* amber-400 */
  box-shadow: 0 0 0 2px rgba(240, 234, 234, 0.2) !important; /* Light shadow */
}
.ant-input-password {
  background: #fff !important; /* White background */
  padding: 0.75rem 0.75rem !important; /* Spacious padding */
  font-size: 1rem !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}
